# Environment files
.env
.env.*

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
myenv/

# SecureFlow generated outputs
Reports/
dashboard.html
zap_report.html
ZAP_*/
*.db